body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1,h2,h3,h4.h5,h6{
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 900;

}


p{
  color: #8f8f8f;

}
/* Heading */
.big-heading{
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight:900;
}
.section-heading{
  font-size: 3rem;
line-height: 1.5;
}
/* Container */
.container-fluid{
  padding: 7% 15%;
}

/* Section */
.white-section{
  background-color: #fff;
}
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}
/* Navigation bar */

.navbar{
  padding:0 0 4.5rem;
}
.navbar-brand{
  font-family:"Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
.download-class{
  margin: 5% 3% 5% 0;
}

/* Title  */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}
/* Features */
#features{
  padding: 3% 15% 7%;
  position: relative;
  z-index: 1;

}
.features-text{
  font-size: 1.5rem;
}
.dog-icon{
  color:#ef8172;
  margin-bottom: 0.9rem;

}
.feature-box{

  padding: 3%;
}
.dog-icon:hover{
  color:#ff4c68;
}
/* Testimonials section */
#testimonials{

background-color:#ef8172;
color: #fff;
}
.testimonial-img{
  border-radius: 100%;
  width: 15%;
  margin: 20px;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}
#press{

  background-color: #ef8172;
}
.press-logo{
  width:15%;
  margin: 10px 20px 50px;
}
.carousel-item{
  padding: 6%  18% 6% 18%;

}
/* Pricing Section */

#pricing{
  padding: 100px;

}
.pricing-column{
  padding: 3% 2%;
}
.pricing-text{
  font-size: 3rem;
  line-height: 1.5;
}
/* CTA Section */
#cta{
 color: #fff;
}

#footer{
 margin-left: 2%;
}
.social-icon{
  margin: 20px 10px;
}
 @media (max-width:1028px) {
   #title{
     text-align: center;

   }
  .title-image{
    position: static;
    transform: rotate(0);
  }

}
